.reservation-item {
    align-items: center;
    color: black;
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 1rem;

    &:nth-child(odd) {
        background: #ffffff;
    }

    &:nth-child(even) {
        background: rgba(0, 0, 0, 0.1);
    }

    &__action {
        width: 100%;
    }
}
