.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    &__dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;

        &:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid;
            border-color: rgba(206, 75, 9, 1) transparent rgba(206, 75, 9, 1) transparent;
            animation: dual-ring 1.2s linear infinite;
        }
    }
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
