.book-reservation-form {
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    gap: 2rem;

    &__controls {
        width: 100%;
        display: grid;
        gap: 10px;
    }

    &__control {
        label {
            color: #343434;
            font-size: 12px;
            text-transform: uppercase;
            font-family: Serif, serif;
            margin-left: 1px;
        }

        input {
            display: block;
            background: #eeeeee;
            border: 1px solid black;
            font-size: 18px;
            padding: .5rem;

            &:focus {
                outline: none;
                border-color: rgba(206, 75, 9, 1);

                &.error {
                    border-color: #d00000;
                }
            }

            &.error {
                border-color: #d00000;
            }
        }

        .error-message-container {
            margin-top: 4px;
            text-align: end;

            .error-message {
                color: #d00000;
                font-size: 14px;
            }
        }
    }

    &__actions {
        text-align: center;
    }
}
