.modal {
    width: 90%;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 10vh;
    left: 5%;
    z-index: 200;

    @media (min-width: 768px) {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #343434;
        color: white;

        h1 {
            margin: 0;
            font-size: 1.25rem;
        }

        button.close, button.back {
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
        }


        button.back {
            font-size: 18px;
            color: #ffffff;
            padding: 0;

            &:hover {
                color: rgba(206, 75, 9, 1);
            }
        }

        button.close {
            &:after {
                display: inline-block;
                content: "\00d7"; /* This will render the 'X' */
                font-size: 24px;
                color: #ffffff;
            }
        }
    }

    &__content {
        color: #1d1d1d;
        min-height: 5rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
    }
}
