body {
  background: #181818;
  color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 5rem auto 0;
  gap: 3rem;

  @media screen and (min-width: 768px) {
    width: 85%;
  }
}

.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #636363;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 6px 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;
  color: #636363;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  width: inherit;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: rgba(206, 75, 9, 1);
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }

  &.primary {
    color: rgba(206, 75, 9, 1);
  }

  &.secondary {
    color: #636363;
  }


  &:hover {
    color: #ffffff;
    outline: 0;
    border-color: rgba(206, 75, 9, 1);
  }

  &:hover:after {
    width: 110%;
  }

  &:disabled {
    color: #b8b8b8;

    &:hover {
      cursor: not-allowed;
      border-color: #636363;
    }

    &:after {
      display: none;
    }
  }
}
