.reservation-data {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: .5rem;

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__key {
            font-weight: 700;
        }

        &__value {
            color: rgba(206, 75, 9, 1);
        }
    }
}
