.day-item {
    align-items: center;
    background: rgba(45, 45, 45, 1);
    border: 1px solid #393939;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    &__day-text {
        font-size: 15px;

        @media screen and (min-width: 768px) {
            font-size: 25px;
        }
    }

    &.previous-month, &.next-month {
        background: rgba(45, 45, 45, 0);

        &:hover {
            background: rgba(45, 45, 45, .5);
        }
    }

    &.not-allow {
        cursor: not-allowed;
    }

    &.today {
        background: rgba(206, 75, 9, 1);

        &:hover {
            background: rgba(206, 75, 9, .8);
        }
    }

    &:hover {
        background: rgba(45, 45, 45, .7);
    }
}
