.calendar {
    background: #1d1d1d;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 15px;
    width: 100%;

    @media screen and (min-width: 768px) {
        padding: 30px;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__controls {
            align-items: center;
            display: flex;
            justify-content: space-around;
        }

        &__divider {
            border-top: 1px solid #393939;
        }

        &__week-day-list {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(7, 1fr);
            justify-items: center;
        }
    }

    &__day-list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(7, 1fr);
    }
}
